@charset "utf-8";

 body {
 	padding: 0;
 	margin: 0; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 footer {
 	margin: 50px 0;
 }

 @font-face {
 	font-family: 'me_quran';
 	src: url('../fonts/me_quran.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

 .ayatView{
 	font-family: 'me_quran';
 	font-size: 40px;
 	line-height: 250%;
 	text-align: justify;
 	direction:rtl;
 	cursor: url(../cursor.ico) 25 15, auto;
 	unicode-bidi: bidi-override;

 }

 .ayatNumber{
 	font-family: "Traditional Arabic","Times New Roman";
 	font-size: 50px;
 	text-align: justify;
 	direction:rtl;
 	line-height: 250%;
 	cursor: url(../cursor.ico) 25 15, auto;
 	unicode-bidi: bidi-override;

 }

 .selectedAyat{
 	color: #2ca4ab;
 }

 .notSelectedAyat{
 	color: black;
 }

 

 .ayatNames{
 	font-family: 'me_quran';
 	font-size: 20px;
 	text-align: right;
 	line-height: 200%;
 }

 .audioButtons{
 	height: 40px;
 	width: 40px;
 }

 .ayatContainer{


 	/*cursor: url(../cursor.ico), auto;*/
 }


 .centerDiv{

 }

 .audioPanel{
 	background-color: rgba(44, 164, 171, .7);
 	position: fixed;
 	bottom: 0;
 	margin: 0;
 	padding: 10px;
 	width: 95%;
 	color: #ffffff;
 }

 .floatLeft{
 	float: left;
 	
 	padding: 0;
 	margin: 0;
 }

 .pageHeader{
 	width: 100%;
 	height: 200px;
 	background-image: url('../img/header.jpg');
 }

 .inputClass{
 	width: 20%;
 }


 #firstPage{   
 	width:100%;
 	height:100%;
 	background-image:url("../img/section1.jpg");
 	background-size:100% auto;
 	background-repeat: no-repeat;

 }

 #firstPage a{   
 	margin:0 auto;
 	width:100%;
 	text-align: center;
 	background-color: #2ca4ab;
 	color: rgba(255, 255, 255, .5);
 	font-size: 5.9vw;
 	font-family: Aclonica;

 }

 #secondPage{   
 	width:100%;
 	height:100%;
 	background-image:url("../img/section2.jpg");
 	background-size:100% auto;
 	background-repeat: no-repeat;

 }
