@charset "utf-8";

 body {
 	padding: 0;
 	margin: 0; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 	background-image: url('../img/navback.jpg');
 	direction: rtl;
 	text-align: right;
 }

 footer {
 	margin: 50px 0;
 }

 @font-face {
 	font-family: 'me_quran';
 	src: url('../fonts/me_quran.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

@font-face {
 	font-family: 'Jameel_Noori';
 	src: url('../fonts/Jameel Noori Nastaleeq.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

@font-face {
 	font-family: 'ScheherazadeRegOT';
 	src: url('../fonts/ScheherazadeRegOT.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

@font-face {
 	font-family: 'QCF_BSML';
 	src: url('../fonts/QCF_BSML.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }


 

 .ayatView{
 	font-family: 'me_quran';
 	font-size: 40px;
 	line-height: 250%;

 	cursor: url(../cursor.ico) 50 50, auto;
 	unicode-bidi: bidi-override;

 }

 .ayatNumber{
 	font-family: 'me_quran';
 	font-size: 40px;
 	text-align:center;
 	direction:ltr;
 	line-height: 250%;
 	cursor: url(../cursor.ico) 25 15, auto;
 }

 .ayatNameContainer{
 	text-align:center;
 	height: 82vh;
 	overflow: auto;

 }
 
 .ayatNames{
 	font-family: 'me_quran';
 	font-size: 20px;
 	text-align: right;
 	line-height: 200%;
 }

 .selectedAyat{
 	color: #6D4D24;
 }

 .notSelectedAyat{
 	color: black;
 }

 .navbrand{
 	font-family: 'Jameel_Noori';
 	font-size: 29px;
 }

 .dropdownChange{
 	font-family: 'Jameel_Noori';
 	font-size: 27px;
 	cursor: pointer;
 	
 }

 .audioButtons{
 	height: 40px;
 	width: 40px;
 }

 .ayatContainer{
 	height: 82vh;
 	overflow: auto;
 	padding: 0 0 70px 0;
 }


 .ayatNameContainerClosed{
 	height: 0vh;
 	overflow: auto;
 }


 .centerDiv{

 }

 .audioPanel{
 	background-color: rgba(124,95,53,0.5);
 	position: fixed;
 	bottom: 3vh;
 	padding: 10px 10px 10px 20px;
 	width: 100vw;
 	color: #ffffff;
 	font-family: "Traditional Arabic","Times New Roman";
 	direction: ltr;
 }

 .floatLeft{
 	float: left;
 	
 	padding: 0;
 	margin: 0;
 }

 .pageHeader{
 	width: 100%;
 	height: 200px;
 	background-image: url('../img/header.jpg');
 }

 .inputClass{
 	width: 20%;
 }

 .speakerButton{
 	background-color: transparent;
 	border: none;
 	color: white;
 	font-family: 'Jameel_Noori';
 	font-size: 25px;
 }

 .speakerButton:hover{
 	background-color:  #6D4D24;
 	color: white;
 	font-family: 'Jameel_Noori';
 	font-size: 25px;
 }

 .centerTop{
 	font-family: 'ScheherazadeRegOT';
 	color: white;
 	font-size: 5vw;
 	margin: 0 auto 0 auto;
 	height: 50px;
 }

 .bismillah{
 	height: 100px;
 	text-align: center;
 	display: block;
    margin: 10px auto 10px auto;
 }


 #firstPage{   
 	width:100%;
 	height:100%;
 	background-image:url("../img/section1.jpg");
 	background-size:100% auto;
 	background-repeat: no-repeat;

 }

 #firstPage a{   
 	margin:0 auto;
 	width:100%;
 	text-align: center;
 	background-color: #2ca4ab;
 	color: rgba(255, 255, 255, .5);
 	font-size: 5.9vw;
 	font-family: Aclonica;

 }

 #secondPage{   
 	width:100%;
 	height:100%;
 	background-image:url("../img/section2.jpg");
 	background-size:100% auto;
 	background-repeat: no-repeat;

 }
