<!-- 
<div id="fullpage">
    <div class="section">
    	<div id="firstPage">
    		<a href="/#/ayatView"><div>Go To Quran Media Player</div></a>
    	</div>
    </div>
    <div class="section">
    	<div id="secondPage">
    	</div>
    </div>
    <div class="section">About Quran Acadmey</div>
</div>
-->


<!-- <a href="#/ayatView">Go to Quran Media Player</a> -->


<!-- Plugin CSS -->
<link rel="stylesheet" href="css/animate.min.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/creative.css" type="text/css">

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand navbrand page-scroll" href="#page-top">QMP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#/fullPage#search">Search</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#/fullPage#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#/ayatView">Media Player</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">

            <br/><br/><br/><br/>
            <h1 class="fontJameelNoori">قرآن میڈیا پلیئر</h1>
            <hr>
            <p class="fontJameelNoori">یہ ویبسایٹ رمضان المبارک میں ہونے والے دورہ ہائے ترجمہ قرآن کی آوڈیو ریکارڈنگ پر
                مشتمل ہے۔ اس میں بنیادی طور پر قرآنی آیات کے ساتھ ضوتی ترجمے اور تشریح کو منسلک کر دیا گیا ہے۔ یعنی
                اسکرین پر نظر آنے والی کسی بہی آیت پر کلک کرنے پر اس آیت کا کیا گیا ترجمہ اور تشریح سماعت فرمائیں گے۔
            </p>
            <a href="#/ayatView" class="btn btn-primary btn-xl page-scroll">Go To Quran Media Player</a>

        </div>
    </div>
</header>


<section class="bg-primary" id="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Search</h2>
                <hr class="light">
                <p class="text-faded">Type in arabic & search in quran</p>
                <input style="height:60px" ng-model="searchString" placeholder="Search" class="form-control"
                       type="text"/>
                <br/>
                <a href="#/search" ng-click="search()" class="btn btn-default btn-xl">Search In Quran</a>
            </div>
        </div>
    </div>
</section>

<section id="contact" style="background-color:white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anjuman Khudam Al Quran</h2>
                <hr class="primary">
                <p>Facing any problems regarding website please contact</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p style="direction:ltr">+923126995968</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">muhammadtalhajamil@hotmail.com</a></p>
            </div>
        </div>
    </div>
</section>


</body>
